@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=block");
@import "tailwindcss";
@config "../../tailwind.config.cjs";

body {
  font-family: "Poppins", cursive;
  @apply bg-body-50 dark:bg-body-900;
  @apply text-body-900 dark:text-body-300;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-body-400;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-body-500;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-body-600;
}

body.dark ::-webkit-scrollbar-thumb:hover,
html.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-body-400; /* Use the actual color for bg-body-100 */
}

body.dark, html.dark {
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-body-800;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-body-500;
    border-radius: 2px;
  }
}
