@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=block");

body {
  font-family: "Poppins", cursive;
  @apply bg-body-50 dark:bg-body-900;
  @apply text-body-900 dark:text-body-300;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-body-200 dark:bg-body-800;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-body-300 dark:bg-body-700;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-body-500 dark:bg-body-600;
}

/* width */
body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track {
  @apply bg-body-600;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @apply bg-body-800;
  border-radius: 2px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  @apply bg-body-900;
}
