---
import { Footer } from "./footer";
import { NavBar } from "./navbar";
import SEO from "./seo.astro";
import GoogleAnalytics from "./googleAnalytics.astro";
import "../styles/global.css";

interface Props {
  title: string;
  navTitle: string;
  metaDescription?: string;
}

const { title, navTitle, metaDescription } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <GoogleAnalytics />
    <!-- SEO -->
    <SEO title={title} description={metaDescription} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="flex min-h-screen flex-col">
      <NavBar className="fixed top-0 z-30" pageTitle={navTitle} client:load />
      <main class="grow bg-transparent">
        <slot />
      </main>
      <Footer client:load />
    </div>
  </body>
</html>
